.board {
    width: 45%;
    height: 10rem;
    font-size: 4.2rem;
    background-color: #5C4FB7;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 2rem #303030;
    margin: 1rem;
    border: solid 1px darken(rgb(92, 79, 183), 10);
    text-align: center;
} 