.header {
    background-color: #6b2ff7;
    width: 100vw;
    height: 5.5rem;
    font-size:3.2rem;
    padding: 1rem;
}
.logout {
    position: fixed;
    right: 1rem;
    background-color: black;
    color: lighten(rgb(107, 47, 247), 30);
    padding: 1rem;
    font-size: 1.4rem; 
    border-radius: .5rem; 
    &:hover {
        cursor: pointer;
    }

}