.body--boards {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}



.username {
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding: 1rem;
}

.followingTitle {
    text-align: center;
    color: white;
}

.followingList {

}

.trick {
    font-size: 2.4rem;
}