*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif; }

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh; }

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .input__description {
    font-weight: bolder;
    color: #002438; }
  .input__box {
    width: 25rem; }

.header {
  background-color: #6b2ff7;
  width: 100vw;
  height: 5.5rem;
  font-size: 3.2rem;
  padding: 1rem; }

.logout {
  position: fixed;
  right: 1rem;
  background-color: black;
  color: #d4c2fd;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: .5rem; }
  .logout:hover {
    cursor: pointer; }

.sideBar {
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 25rem;
  height: calc(100vh - 5.5rem);
  background-color: #3d07ba;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem; }

.body {
  position: fixed;
  top: 5.5rem;
  left: 25rem;
  width: calc(100vw - 25rem);
  height: calc(100vh - 5.5rem);
  background-color: #b292fb;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem; }

.board {
  width: 45%;
  height: 10rem;
  font-size: 4.2rem;
  background-color: #5C4FB7;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 2rem #303030;
  margin: 1rem;
  border: solid 1px #483d96;
  text-align: center; }

.following {
  background-color: #1d0358;
  border-radius: .7rem;
  margin: 1rem 1rem 0 1rem;
  height: 3rem;
  line-height: 3rem; }
  .following__icon {
    position: absolute;
    right: 1.5rem; }
    .following__icon:hover {
      color: #5e0303;
      cursor: pointer; }

.login__title {
  position: fixed;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5.2rem;
  color: #430081;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.login-form {
  font-size: 2.4rem;
  position: absolute;
  background-color: #72b3d8;
  width: 50vw;
  min-width: 45rem;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: .4rem solid #1b648f;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .login-form__button {
    position: relative;
    background-color: #e4e4e4;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: .8rem;
    font-weight: bolder;
    box-shadow: 0 .2rem 1rem #00224e;
    max-width: 40rem;
    left: 50%;
    transform: translateX(-50%); }
    .login-form__button:hover {
      transition: .2s;
      transform: translate(-50%, -0.1rem);
      box-shadow: 0 .5rem 1.5rem #00224e;
      cursor: pointer; }
    .login-form__button:active {
      transition: .2s;
      transform: translate(-50%, 0);
      box-shadow: 0 .2rem 1rem #00224e; }
  .login-form__create {
    color: #00224e;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    border-top: 1px solid #1b648f;
    border-bottom: 1px solid #1b648f; }
    .login-form__create:hover {
      color: #d3efff; }

.body--boards {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch; }

.username {
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding: 1rem; }

.followingTitle {
  text-align: center;
  color: white; }

.trick {
  font-size: 2.4rem; }

.back-to-login {
  position: relative;
  top: 2.4rem;
  left: 2.4rem;
  font-size: 1.6rem;
  color: black;
  text-decoration: none; }
  .back-to-login:hover {
    text-decoration: underline; }

.error {
  position: fixed;
  left: 50%;
  bottom: 7rem;
  font-size: 1.6rem;
  transform: translateX(-50%); }
