*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif; }

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh; }

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .input__description {
    font-weight: bolder;
    color: #002438; }
  .input__box {
    width: 25rem; }

.header {
  background-color: #6b2ff7;
  width: 100vw;
  height: 5.5rem;
  font-size: 3.2rem;
  padding: 1rem; }

.sideBar {
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 25rem;
  height: calc(100vh - 5.5rem);
  background-color: #3d07ba;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem; }

.top-bar {
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: aqua; }

.side-bar {
  top: 4rem;
  left: 0;
  height: calc(100vh - 4rem);
  width: 10rem;
  position: fixed;
  background-color: #392561; }

.body {
  top: 4rem;
  left: 10rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 10rem);
  position: fixed;
  background-color: #6e5d8f; }

.login-form {
  font-size: 2.4rem;
  position: absolute;
  background-color: #72b3d8;
  width: 50vw;
  min-width: 45rem;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: .4rem solid #1b648f;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .login-form__button {
    background-color: #e4e4e4;
    border-radius: 1rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 2rem;
    padding: .8rem;
    font-weight: bolder;
    box-shadow: 0 .2rem 1rem #00224e; }
    .login-form__button:hover {
      transition: .2s;
      transform: translateY(-0.1rem);
      box-shadow: 0 .5rem 1.5rem #00224e; }
    .login-form__button:active {
      transition: .2s;
      transform: translateY(0);
      box-shadow: 0 .2rem 1rem #00224e; }

.body--boards {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch; }

.board {
  width: 45%;
  height: 10rem;
  font-size: 4.2rem;
  background-color: lightblue;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 2rem black;
  margin: 1rem;
  border: solid 1px white;
  text-align: center; }

.username {
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding: 1rem; }

.followingTitle {
  text-align: center;
  color: white; }

.trick {
  font-size: 2.4rem; }
